# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf

# Matches multiple files with brace expansion notation
[*.{sh,go}]
charset = utf-8 # Set default charset

[*.md]
indent_style = space
indent_size = 2
max_line_length = off
trim_trailing_whitespace = false

[{.travis.yml}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab