# Test data
fixture

# Build
Ayi

# Logs
logs
*.log
log.txt

# Runtime data
pids
*.pid
*.seed

# IDE
.idea

# Mac 
.DS_Store

*.swap

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Test coverage result
cover.txt
*.coverprofile

# Vendor
vendor

# Config
# NOTE: see https://github.com/dyweb/Ayi/issues/49
.ayi.local.yml